@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2&display=swap');

body {
	color: #333;
	background: #ece9e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffffff,
		#ece9e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffffff,
		#ece9e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
	font-family: 'Baloo Tammudu 2', cursive;
}

ul {
	padding-left: 2.2rem;
	margin-bottom: 0;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: red;
}

p,
li {
	font-size: 1.2rem;
	margin-bottom: 0.25rem;
}

h1 {
	color: red;
}

.animated-icon-trigger {
	overflow: hidden;
}

.animated-icon {
	margin-right: -29px;
	transition: margin-right 100ms ease-in;
}

.animated-icon-trigger:hover .animated-icon {
	margin-right: 0;
}

.wrapper {
	padding: 3rem 4rem;
	max-width: 1600px;
	margin: 0 auto;
}

.left-right-grid {
	display: grid;
	grid-template-columns: 37% 55%;
	grid-column-gap: 8%;
}

.left-section {
	text-align: right;
}

.menu-sign {
	display: inline-block;
	line-height: 1;
	padding: 1rem 2rem 0 2rem;
	background-color: red;
	transform: rotate(4.2deg);
	color: white;
}

@media screen and (max-width: 1000px) {
	.left-right-grid {
		display: block;
	}
	.wrapper {
		max-width: 800px;
		padding: 3rem;
	}
	.left-section {
		text-align: center;
		padding-bottom: 3rem;
	}

	.animated-icon {
		transition: none;
		margin-right: auto;
	}

	.animated-icon-trigger:hover .animated-icon {
		margin-right: auto;
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 2rem;
	}
	.wrapper {
		padding: 3rem 2.5rem;
	}
	.display-4 {
		font-size: 3rem;
	}
}
